*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

header {
    height: 100px;
    margin-bottom: 20px;
}

.container-logo{
    height: 100px;
    width: 250px;
}

header .logo{
    background-image: url(../img/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 1px solid rgb(212, 212, 212);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover {
    background: rgb(230, 221, 221);
}

nav ul li a {
    color: gray;
    text-decoration: none;
    padding: 0 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.yoga-section{
    height: 400px;
    width: 1200px;
    margin-top: 20px;
    position: relative;
}

.yoga-section .yoga-img{
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}

.yoga-section .yoga-text{
    position: absolute;
    color: rgb(73, 70, 70);
    left: 40px;
    bottom: 40px;
    text-align:left
}

h1{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 90px;
}

h3{
    padding: 10px 0 10px 0;
}

p{
    color: gray;
    font-size: 15px;
}

/* ROW */

.banner{
    height: 80px;
    margin: 20px 0;
}

.row{
   width: 1200px;
   margin: 0 20px; 
}

.row-left{
    width: 25%; 
    text-align: justify;
    float: left;
    padding-right: 15px;
    border-radius: 10px;
}


.row-central{
    width: 50%; 
    text-align: justify;
    float: left;
    border-radius: 10px;
}



 .row-right{
    width: 25%; 
    text-align: justify;
    float: left;
    border-radius: 10px;
}  

/* FOOTER */

footer {
    background-color: rgb(61, 4, 61);
    height: 50px;
    margin-top: 10px;
    
}
